@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Colores oficiales CAT */
  --color-cat-silver: #bdbfbf;
  --color-cat-dark: #1b2621;
  --color-cat-gold: #f2a81d;
  --color-cat-bronze: #a6702e;
  --color-cat-brown: #59412c;

  /* Colores de compatibilidad de Stitch */
  --color-primary-container: #1b2621;
  --color-secondary: #f2a81d; /* Usamos el dorado oficial para secondary */
  --color-surface-container-low: #1b1c1b;
  --color-surface-container: #1f201f;
  --color-surface-container-highest: #353534;
  --color-surface-container-lowest: #0e0e0e;
  --color-on-surface: #e4e2e0;
  --color-on-surface-variant: #c3c8c3;
}

@layer base {
  :root {
    --background: #131313; /* Fondo oscuro oficial */
    --foreground: #e4e2e0; /* Texto claro */
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased;
  }
}
